.isActive span svg {
	transform: rotate(180deg);
}

.dropDownContent {
	transition: 0.3s;
	display: grid;
	grid-template-rows: 0fr;
}

.dropDownContent > div {
	overflow: hidden;
}

.isActive .dropDownContent {
	grid-template-rows: 1fr;
}
